<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="profile-pic">
        <img src="<%= @user.image_url %>" alt="Profile image">
      </div>
      <div class="profile-name">
        <h1 class="display-3"><%= @user.name %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="tabpanel text-center">

        <ul class="nav nav-pills pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#starred-repos" role="pill">Starred Repos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" data-toggle="pill" href="#followers" role="pill">Followers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" data-toggle="pill" href="#following" role="pill">Following</a>
          </li>
        </ul>

        <div class="tab-content" id="tabs">
          <div class="tab-pane" id="starred-repos" role="tabpanel">
            <table class="table profile-tables">
              <thead>
                <th>Name</th>
                <th>Owner</th>
                <th>Description</th>
              </thead>

              <tbody>
              <% @starred_repos.each do |repo| %>
                <tr>
                  <th scope="row"><%= link_to repo[:full_name].split('/')[-1], repo[:html_url], target: :_blank %></th>
                  <td align="left"><%= repo[:owner][:login] %></td>
                  <td align="left"><%= repo[:description] %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>

          </div>



          <div class="tab-pane profile-tables" id="followers" role="tabpanel">
           <% @followers.each do |follower| %>
              <h4><%= link_to follower[:login], follower[:html_url], target: :_blank %></h4>
           <% end %>
          </div>

          <div class="tab-pane profile-tables" id="following" role="tabpanel">
            <% @following.each do |following| %>
              <h4><%= link_to following[:login], following[:html_url], target: :_blank %></h4>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
